@model olightvn.Models.ForgotPassword
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("forgotpassword", "user", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
            <h4>Quên mật khẩu</h4>
            <p>Nhập đầy đủ thông tin để yêu cầu cung cấp lại mật khẩu.</p>
            <span class="error">@TempData["message"]</span>
            @if (ViewBag.Result != true)
            {
            <ol>
                <li>
                    <span>Tên đăng nhập</span>
                    @Html.TextBoxFor(m => m.UserName, new { @class = "" })
                    @Html.ValidationMessageFor(b => b.UserName)
                </li>
                <li>
                    <span>Email</span>
                    @Html.TextBoxFor(m => m.Email, new { @class = "" })
                    @Html.ValidationMessageFor(b => b.Email)
                </li>
            </ol>
            <div class="text-center">
                <input type="submit" name="submit" value="Đồng ý" class="btn" />
                <a href="/admin/login">Bỏ qua</a>
            </div>
            }
            else
            {
            <br />
            <hr />
            <div class="text-center">
                <a href="/admin/login" class="btn-default">Đăng nhập hệ thống</a>
            </div>
            }

        </div>
    </div>
}

